* {
    margin: 0;
    padding: 0;
}

.top-bar {

    background: #333333;
    height: 50px;
    width: 100%;
}

.center{
    width: 1226px;
    margin: 0 auto;
}
.top-left-font{
    float: left;
}
.top-left-font a {
    text-decoration: none;
    color: #b0b0b0;
    line-height: 50px;
    font-size: 5px;
    margin: 5px;
}

.top-left-font a:hover {
    color: white;
}
.top-right-font{
    float: right;
}

.top-right-font a {
    text-decoration: none;
    color: #b0b0b0;
    line-height: 50px;
    font-size: 5px;
    margin: 5px;
}

.top-right-font a:hover {
    color: white;
}
.center span{
    font-weight: 100;
    color: #373c42;
}

.gouwuche{
    width: 120px;
    height: 50px;
    background-color: #424242;
    display: inline-block;
    margin-left: 25px;
    transition: all .2s;
    text-align: center;
    position: relative;
}
.gouwuche:hover{
    background-color: white;
    color: #ff6709;
}
.gouwuche:hover>.gouwuche-list{
    height: 100px;
    line-height: 100px;
}
.gouwuche-list{
    position: absolute;
    top: 50px;
    right: 0;
    width: 316px;
    height: 0;
    background-color: #fff;
    box-shadow: 0 2px 10px rgb(0,0,0,.15);
    color: #424242;
    text-align: center;
    transition: all .3s;
    overflow: hidden;
}
body {
    background-color: white;
}

.box {
    width: 296px;
    height: 415px;
    background-color: white;
    float: left;
    margin-right: 14px;
    transition: all .2s;
}


.box:hover {
    box-shadow: 10px 20px 20px -4px #e1e1e1;
    margin-top: -5px;
}

.boxlast:hover {
    box-shadow: 10px 20px 20px -4px #e1e1e1;
    margin-top: -5px;
}

.boxlast {
    width: 296px;
    height: 415px;
    background-color: white;
    float: left;
    margin-right: 0;
}

.box img {
    width: 100%;
}

.boxlast img {
    width: 100%;
}

.review {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    height: 70px;
    padding: 0 28px;
    margin-top: 23px;
}

.apprise {
    font-size: 12px;
    color: #b0b0b0;
    margin-top: 23px;
    padding: 0 28px;
    line-height: 15px;
}

.info {
    font-size: 14px;
    margin-top: 15px;
    padding: 0 28px;
}

.info h4 {
    display: inline;
    font-weight: 400;
}

.info span {
    color: #ff6709;
}

.info em {
    font-style: normal;
    color: #e0e0e0;
    margin: 0 6px 0 15px;
}

h2 {
    font-weight: 300;
    margin-top: 20px;
    margin-bottom: 20px;

}

.dbox {
    width: 1226px;
    height: 300px;
    margin: 10px auto;
    padding: 60px 0 0;

}

li {
    list-style: none;
}

.book {
    color: #ffb413;
    text-align: center;
    margin-top: 40px;
}

.tushu {
    color: #ffac13;
    text-align: center;
    padding: 45px 0 18px;
}

.p2 {
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    margin: 0 0 5px;
}

.t2 {
    width: 50%;
}

.jiage {
    font-size: 14px;
    color: black;
    margin-top: 23px;
    padding: 0 28px;
    text-align: center;
}
/* 导航栏 */
.daohanglan{
    width: 100%;
    height: 100px;
    background-color: white;
}
.daohanglan-left{
    width: 55px;
    height: 50px;
    background-color: white;
    float: left;
    margin-top: 22px;
}
.daohanglan-left img{
    width: 100%;
}
.daohanglan-center1{
    width: 150px;
    height: 54.5px;
    margin-top: 22px;
    float: left;
}
.daohanglan-center1 img{
    width: 100%;
    height: 100%;
}
.daohanglan-center2{
    width: 668px;
    height: 100px;
    background-color: white;
    float: left; 
    padding-left: 20px;
    box-sizing: border-box;
}

.daohanglan-center2>ul>li{
    height: 100px;
    float: left;
    padding: 38px 10px;
    box-sizing: border-box;
}
.daohanglan-center2>ul>li>a{
    text-decoration: none;
    color: #333333;
}
.daohanglan-center2>ul>li>a:hover{
    color: #ff6709;
}
.daohanglan-right{
    width: 296px;
    height: 50px;
    background-color: white;
    float: left;
    margin-top: 25px;
}
.daohanglan-right>input{
    width: 245px;
    height: 50px;
    border: 1px solid #e0e0e0;
    padding: 0 10px;
    box-sizing: border-box ;
    float: left;
    border-right: none;
    outline: none;
    transition: .2s;
}
.daohanglan-right>input:hover,.daohanglan-right>input:hover+a{
    border: 1px solid #b0b0b0;
}
.daohanglan-right>input:focus,.daohanglan-right>input:focus+a{
    border: 1px solid #ff6709;
}
.daohanglan-right>a{
    width: 50px;
    height: 50px;
    float: left;
    border: 1px solid #e0e0e0;
    box-sizing: border-box ;
    font-size: 24px;
    color: #616161;
    line-height: 48px;
    text-align: center;
}
.daohanglan-right>a:hover{
    background-color: #ff6709;
    color: white;
    transition: all .2s;
    border: 1px solid #ff6709;
    border: 1px solid #b0b0b0;
}
.daohanglan-list{
    position: absolute;
    left: 0;
    top: 150px;
    width: 100%;
    height: 250px;
    background-color: white;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0 3px 4px rgb(0,0,0,.18);
    display: none;
    transition: all .3s;
    overflow: hidden;
    z-index: 6;
}
.daohanglan-center2 li:hover>.daohanglan-list{
    display: block;
    transition: all .3s;
}
.daohanglan-list li{
    float: left;
    width: 204px;
    height: 190px;
    background-color: white;
    padding-top: 35px;
}
.img-box{
    width: 100%;
    height: 100px;
    border-right: 1px solid #e0e0e0;
    box-sizing: border-box;
    margin-bottom: 16px;
}
.daohanglan-list a{
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
.font1{
    color: #333333;
}
.font2{
    color: #ff6709;
}
.font3{
    line-height: 17px;
    margin: auto;
    height: 17px;
    width: 30px;
    color: #ff6709;
    border: 0.5px solid #ff6709;
}
.daohanglan-right-list{
    width: 245.6px;
    height: 180px;
    border: 1px solid #ff6700;
    border-top: none;
    box-sizing: border-box;
    background-color: white;
    top: 150px;
    left: 0;
    display: none;
}
.daohanglan-right>input:focus~.daohanglan-right-list{
    display: block;
}
.daohanglan-right-list-left{
    float: left;
    margin-left: 1px;
    width: 190px;
    height: 30px;
}
.daohanglan-right-list-left a{
    text-decoration: none;
    color: black;
    font-size: 5px;
    line-height: 30px;
}
.daohanglan-right-list-left a:hover{
    color: orange;
}
.daohanglan-right-list-right{
    float: right;
    color: #b0b0b0;
    font-size: 3px;
    width: 45px;
    height: 30px;
    line-height: 30px;
}
/* 导航栏 */
/* 横幅 */
.hengfu{
    width: 100%;
    height: 460px;
background-color: #fff;
}
.hengfu-box{
    width: 1226px;
    height: 460px;
    background-image: url("images/hengfu1.jpg");
    background-size: 100%;
    animation: hengfu 10s linear infinite;
}
.hengfu-box:hover{
    animation-play-state: paused;
}
@keyframes hengfu {
    0%{
        background-image: url("images/hengfu1.jpg");
    }
    50%{
        background-image: url("images/hengfu2.jpg");
    }
    100%{
        background-image: url("images/hengfu3.jpg");
    }
}

.hengfu-right{
    /* position: absolute; */

    width: 234px;
    height: 420px;
    padding: 20px 0;
    background-color: rgb(105,101,101, .6);
    left: 0;
    top: 0;
    float: left;
    z-index: 5;
}
.hengfu-right>ul>li{
    height: 42px;
    line-height: 42px;
    text-align: left;
}
.hengfu-right>ul>li:hover{
    background-color: #ff6801;
}
.hengfu-right>ul>li>a{
    color: white;
    font-size: 14px;
    margin-left: 25px;
}
.hengfu-right i{
    float: right;
    margin-right: 15px;
}
.hengfu-right-list{
    width: 992px;
    height: 460px;
    background-color: white;
    border: 1px solid #e0e0e0;
    border-left: none;
    box-shadow: 0 8px 16px rgb(0,0,0, .18);
    margin-left: 234px;
    margin-top: -63px;
    display: none;
}
.hengfu-right li:hover>.hengfu-right-list{
    display: block;
}
.hengfu-right-list>ul{
    width: 200px;
}
.hengfu-right-list li{
    width: 100%;
    height: 76px;
    padding: 10px 0 10px 10px;
    box-sizing: border-box;
}
.hengfu-right-list a{
    text-decoration: none;
    font-size: 5px;
}
.adv{
    width: 100%;
    height: 170px;
    margin: 15px 0 26px;
    background-color: #fff;
}
 .adv-left{
     width: 234px;
     height: 170px;
     padding: 3px;
     box-sizing: border-box;
     background-color: #5f5750;
     float: left;
 }
 .adv-img{
     width: 316px;
     height: 170px;
     float: left;
     margin-left: 14.6px;
     transition: all .2s;
 }
 .adv-img:hover{
     box-shadow: 0 15px 30px rgb(0,0,0,.15);
 }
 .adv-img img{
     width: 100%;
 }
.adv-left li{
    position: relative;
    float: left;
    width: 76px;
    height: 82px;
    padding: 19px 0;
    box-sizing: border-box;
}
.adv-left i{
    display: block;
    font-size: 22px;
    margin-bottom: 4px;
    text-align: center;
}
.adv-left a{
    display: block;
    color: white;
    font-size: 12px;
    opacity: .7;
    transition: all .2s;
    text-align: center;
}
.adv-left a:hover{
    opacity: 1;
}
a{
    text-decoration: none;
}
.row::after{
    position: absolute;
    content: "";
    height: 2px;
    width: 64px;
    background-color: #665e57;
    bottom: 0;
    left: 6px;
}
.col::before{
    position: absolute;
    content: "";
    height: 70px;
    width: 2px;
    background-color: #665e57;
    bottom: 6px;
    right: 0;
}
/* 横幅 */
.container{
  width: 100%;
  background-color: #f5f5f5;
  padding: 4px 0 12px;  
  overflow: hidden;
}
.title{
    color: #333333;
    font-size: 22px;
    font-weight: 200;
    text-align: left;
    line-height: 58px;
}
.home-box{
    width: 100%;
    height: 614px; 
}
.home-box2{
    width: 100%;
    height: 307px; 
}
.home-box-left{
    width: 234px;
    height: 614px;
    float: left;
    transition: all .2s linear;
}
.home-box2 .home-box-left2 img{
    height: 67%;
}
.home-box-left2{
    width: 234px;
    height: 614px;
    float: left;
    transition: all .2s linear;
}

.home-box-left2 img{
    width: 100%;
    height: 100%;
}
.home-box-left2 .items{
    background-color: white;
    width: 234px;
    height: 300px;
    float: left;
    margin-bottom: 14px;
    margin-left: 0px;
    transition: all .2s linear;
}

.home-box-right{
    width: 992px;
    height: 614px;
    float: left;
}
.home-box2 home-box-right{
    float: left;
}
.jiadian img{
    width: 100%;
    height: 100%;
} 
.items{
    background-color: white;
    width: 234px;
    height: 300px;
    float: left;
    margin-bottom: 14px;
    margin-left: 14px;
    transition: all .2s linear;
}
.items:hover,.home-box-left:hover{
    box-shadow: 0 15px 30px rgba(0,0,0, .1);
    transform: translateY(-2px);
}
.items2:hover,.home-box-left:hover{
    box-shadow: 0 15px 30px rgba(0,0,0, .1);
    transform: translateY(-2px);
}
.home-box-right img{
    width: 100%;
    height: 200px;
}
.items2{
    background-color: white;
    width: 234px;
    height: 300px;
    float: left;
    margin-bottom: 14px;
    margin-left: 14px;
    transition: all .2s linear;
}
.items2 img{
    width: 100%;
    height: 100%;
}
.name2{
    color: black;
    text-align: center;
    line-height: 21px;
    width: 214px;
    height: 21px;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 2px;
}
.name3{
    text-align: center;
    color: #B0B0B0;
    font-size: 12px;
    margin: 10px 0 15px;
}
.name4{
    text-align: center;
    color: #ff6700;
    font-size: 14px;
}
.reping{
    background-color:  black;
    width: 100%;
    height: 614px;
}
.nierong-box{
    width: 100%;
    height: 421px;
}
.nierong-box-left{
    float: left;
    height: 421px;
    width: 296px;
    background-color: white;
    border-top: 1px solid #ffac13;
    transition: all .2s;
}
.nierong-box-right{
    float: left;
    height: 421px;
    width: 296px;
    background-color: white;
    margin-left: 14px;
    border-top: 1px solid #ffac13;
    transition: all .2s;
}
.nierong-box-left:hover{
    box-shadow: 0 15px 30px rgba(0,0,0, .1);
    transform: translateY(-2px);
}
.nierong-box-right:hover{
    box-shadow: 0 15px 30px rgba(0,0,0, .1);
    transform: translateY(-2px);
}
.n1{
    margin-top: 50px;
    color: #ffac13;
    text-align: center;
}
.n2{
    font-size: 20px;
    margin-top: 25px;
    text-align: center;
}
.n3{
    font-size: 12px;
    text-align: center;
    color: #b0b7cc;
    margin: 20px 50px 25px;
}
.n4{
    font-size: 14px;
    margin: 10px 0 0;
    text-align: center;
}
.n5{
    text-align: center;
    margin-top: 40px;
}
.video-items{
    width: 295px;
    height: 285px;
    background-color: white;
    float: left;
    margin-bottom: 14px;
    margin-right: 14.5px;
    transition: all .2s;
}
.video-items:hover{
    box-shadow: 0 15px 30px rgba(0,0,0, .1);
    transform: translateY(-2px);
}
.video-items:last-child{
    margin-right: 0;
}
.video-img{
    position: relative;
    width: 100%;
    height: 180px;
    background-color: pink;
}
.play{
    position: absolute;
    bottom: 15px;
    left: 25px;
    width: 30px;
    height: 30px;
}
.play i{
    color: rgba(255, 255, 255, 0.6);
    font-size: 32px;
}
.n6{
    font-size: 14px;
    margin-top: 45px;
    text-align: center;
}
.n7{
    font-size: 2px;
    text-align: center;
    color: #b0b0b0;
    margin-top: 5px;
}
.site-footer{
    width: 100%;
    height: 332px;
    background-color: white;
}
.site-info{
    width: 100%;
    height: 206px;
    padding: 30px 0;
}
.footer-service{
    width: 100%;
    height: 25px;
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.footer-service li{
    float: left;
    width: 19.8%;
    height: 25px;
    line-height: 25px;
    border-right: 1px solid #e0e0e0;
}
.footer-service li:last-child{
    border-right: none;
}
.footer-service a{
    color: #616161;
    transition: all .2s;
    display: block;
    text-align: center;
}
.footer-service a:hover{
    color: #ff6700;
}

.footer-service i{
    font-size: 20px;
    margin-right: 6px;
}
.footer-service p{
    display: inline-block;
}
.footer-links{
    width: 100%;
    height: 172px;
    padding: 40px 0;
    font-size: 14px;
    color: #424242 ;
}
.footer-links>ul{
    float: left;
    width: 160px;
}
.footer-links a{
    color: #757575;
    font-size: 12px;
}
.footer-links a:hover{
    color: #ff6700;
}
.footer-links li{
    height: 18px;
    line-height: 18px;
    margin-top: 10px;
}
.footer-links li:first-child{
    height: 17px;
    line-height: 17.5px;
    margin: -1px 0 26px;
}
.contact{
    float: right;
    width: 251px;
    height: 111px;
    border-left: 1px solid #e0e0e0;
}
.tel{
    color: #ff6700;
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 18px;
    text-align: center;
}
.time{
    color: #616161;
    font-size: 12px;
    margin-bottom: 5px;
    text-align: center;
}
.contact .kefu{
    margin: 0 auto;
    display: block;
    width: 118px;
    height: 28px;
    border: 1px solid #ff6700;
    color: #ff6700;
    line-height: 28px;
    font-size: 12px;
    transition: all .4s;
    text-align: center;
}
.contact .kefu:hover{
    background-color: #ff6700;
    color: #ffffff;
}
.footer-logo{
    width: 56px;
    height: 56px;
    margin-right: 10px;
    float: left;
}
.footer-logo>img{
    width: 100%;
}
.sites{
    width: 740px;
    height: 100px;
    float: left;
}
.sites p{
    font-size: 12px;
    color: #757575;
}
.sites2{
    width: 360px;
    float: left;

}
.jiyu{
    width: 100%;
    float: left;
    margin-left: 400px;
}
.goods-container{
    height: 340px;
    width: 1226px;
    overflow: hidden;
    /* background-color: pink; */
}
.goods-item{
    width: 306.5px;
    height: 300px;
    position: relative;
    background-color: white;
    transition: all .3s;
    float: left;
}
.goods-item:hover{
    box-shadow: 0 15px 30px rgba(0,0,0, .1);
    transform: translateY(-2px);
}
.goods-item a{
    color: black;
    text-align: center;
}
.goods-item img{
    width: 160px;
    height: 160px;
    margin-left: 76px;
    margin-top: 20px;
}
.text1{
    color: #b0b0b0;
    font-size: 12px;
    margin-top: 10px;
    margin-bottom: 15px;
    text-align: center;
}
.jiage1{
    color: #ff6709;
    font-size: 14px;
    text-align: center;
}
.goods-add-cart{
    position: absolute;
    width: 100px;
    height: 30px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    background-color: #ff6700;
    font-size: 12px;
    border-radius: 5px;
    top: 0px;
    right: 10px;
    display: none;
    transition: all .3s;
}
.goods-item:hover>.goods-add-cart{
    display: block;
}